experiments.py
PyMesh
formative_models_oriented
formative_study_models
instructables
segmentation/all_segmentations
segmentation/decimated
segmentation/all_segmentations_done
segmentation/decimated_sims
segmentation/figures_form_function
segmentation/experiments
segmentation/models
segmentation/figures_segmentation


